<div class="d-flex flex-column align-items-center">
<header class="page-header text-center">
  <h1>Register!</h1>
</header>

<%= form_for :user, url: '/users' do |f| %>
<div class="card" >
  <div class="card-body">

  <div class="mb-3">
  First Name: <br> <%= f.text_field :first_name %>
  </div>
  
  <div class="mb-3">
  Last Name: <br> <%= f.text_field :last_name %>
  </div>

  <div class="mb-3">
  Email: <br> <%= f.text_field :email %>
  </div>

  <div class="mb-3">
  Password: <br> <%= f.password_field :password %>
  </div>

  <div class="mb-3">
  Password Confirmation: <br> <%= f.password_field :password_confirmation %>
  </div>

<div class="d-flex flex-column align-items-center">
  <%= f.submit "Submit" %>
  </div>
  </div>
</div>
</div>
<% end %>